.joinOuterContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-color:#404040;
    
}
.joinInnerComponent{
    width: 20%;
}
.joinInput {
    border-radius: 0;
    padding: 15px 20px;
    width: 100%;
    color: white;

  }
  
  .heading {
    color: white;
    font-size: 2.5em;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
  }
  .floatingLabelFocusStyle{
    color: cornsilk !important;
  }
  .button {
      color: #fff !important;
      text-transform: uppercase;
      text-decoration: none;
      background:#ff944d;
      padding: 20px;
      border-radius: 3px;
      display: inline-block;
      border: none;
      width: 100%;
      margin-top: 20px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
    .joinInnerContainer {
      width: 90%;
    }
  
  
  }
  
  
  button:focus {
    outline: 0;
  }